@model MongoDBOperations.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameBoard</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AverageMinutesDuration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AverageMinutesDuration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinNumberOfPlayers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinNumberOfPlayers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxNumberOfPlayers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxNumberOfPlayers)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
